habitat-lab
data/humanoids
data/sample
data/scene_datasets
data
vicuna-7b-v1.5
weights
Qwen

ckpt_qwen5
__pycache__/
*.pyc
__pycache__
trackvla_vis/

outputs/
logs/
ckpt*/

*.pt
*.pth
*.bin
*.safetensors

*.npy
*.npz

*.glb
*.jpg

habitat-sim/
pretrained_model/
sim_data/

open_trackvla_hf

sim_data

